
body {
  background-color: #19241B;
  color: #FFFFFF;
  overflow: hidden; /* No scrollbars per requirement */
  height: 100vh; /* Fallback */
  height: 100dvh; /* Dynamic viewport height */
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
